body {
  font-size: 10px;
  font-family: Verdana,sans-serif;
  color: black;
  background-color: #ffffff
}

.border {
  font-size: 12px;
  font-family: Verdana,sans-serif;
  color: white;
  background-color: #000000
}

.border_thumb {
  border-style: solid;
  border-width: 1px
}

